:root {
    font-family: "Inter", serif;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    outline: none;
    list-style: none;
    text-decoration: none;
    
    h2, p {
        width: 100%;
    }
}

hr {
    width: 100%;
    color: #000;
}

a:not(:hover) {
    color: #57626b;
}

a:hover {
    color: #1a73e8;
}


html {
    height: 100%;
}


body {
    display: flex;
    flex-direction: column;
    height: 100%
}

header {
    display: flex;
    height: fit-content;
}


.menu {
    display: flex;
    height: fit-content;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-shadow: 2px 1px 5px 1px grey;
}

.menu__list {
    display: flex;
    align-items: center;
}

.menu__list__logo {
    height: 50px;
    margin-right: 9px;
    margin-left: 29px;
}

.menu__list__items {
    padding: 8px;
    font-size: 12px;
    font-weight: 400;
}

.menu__icons {
    display: flex;
    margin-right: 29px;
}

.menu__icons__right {
    padding: 9px;
}

main {
    display: flex;
    flex: 1;
    gap: 20px;
    margin-right: 5px;
    width: 100%;
}

.left-section {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left__section__bubbles {
    margin: 0;
    width: 100%;
    height: 100%;
}

.left-section__bubbles__img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #c5c2c2;
    margin-bottom: 3%;
}

.center-section {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-section__product {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.center-section__product__img {
    width: 100%;
    border: 2px solid #c5c2c2;
    border-radius: 10%;
    box-shadow: 0 8px 7px rgba(0, 0, 0, 0.1);
    align-items: center;
    height: 70%;
}

.right-section {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    padding: 5% 13% 4% 2%;
    border-radius: 10px;
}

.right-section > h1 {
    font-size: 35px;
    font-weight: 700;
}

.right-section > h3 {
    font-weight: 700;
}

    
.right-section__text {
    font-size: 12px;
    font-weight: 400;
    color: #57626b;
}

.right-section__colors {
    width: 40%;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 13px;
    margin: -17px 10px 1px 0;
}

.right-section__colors__options {
    width: 40px;
    height: 37px;
    border: 1px solid #00000096;
    border-radius: 50%;
    cursor: pointer;
}

.right-section__shipping {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    gap: 19px;
    background-color: #f5f5f5;
    border-radius: 5px;
}


.right-section__shipping__cart {
    display: flex;
    width: 100%;
    gap: 20px;
}

.right-section__shipping__cart__button {
    width: 79%;
    height: 50px;
    background-color: #1A73E8;
    color: #f5f5f5;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    border-radius: 6px;
    border-color: #1A73E8;
}

.right-section__shipping__cart__input {
    width: 23%;
}
.right-section__shipping__date {
    display: flex;
    width: 100%;
    gap: 10px;

    img {
        height: 29px;
        width: 30px;
    }
}


.right-section__shipping__date__delivery {
    font-size: 12px;
    margin-top: 10px;
    color: #57626b;
}

footer {
    display: flex;
    align-items: flex-end;
}                                           

.foot-menu {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: #f8f9fa;
}

.foot-menu__list {
    display: flex;
}

.foot-menu__list__icons {
    padding: 8px;
}

.foot-menu__list__items {
    padding: 8px;
    font-size: 8px;
    font-weight: 400;
    color: #57626b;
}

@media (max-width: 768px) {

    body {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .menu__list > li{
        display: none;
    }

    main {
        display: flex;
        flex: 1;
        flex-direction: column;
        width: 100%;
        margin: 0%;
    }

    .center-section {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .center-section__product__img {
        width: 80%;
        
    }

    .right-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 50%;
        padding: 0px;
        margin-left: 7%;
        margin-right: 7%;
        margin-top: 0px 0px;
        gap: 30px;
    }

    .right-section > hr {
        width: 80%;
    }
    .right-section__colors {
        display: flex;

    }

    .right-section__shipping {
        display: flex;
        margin-right: 14%;
        justify-content: center;
    }

    header, footer {
        display: flex;
    }

    footer {
        display: flex;
        flex-direction: column;
        height: 30%;
    }

    .foot-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .foot-menu__list {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .foot-menu__list__items {
        display: flex;
        
    }

    .left-section{
        display: none;
    }
}
